
form input:focus,
form select:focus {
  border-color: #247564 !important;
  box-shadow: none !important;
  outline: none !important;
}


.pagination .page-link {
  color: #247564;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #000;
  border-color: #247564;
}

.pagination .page-item.active .page-link {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.products-header {
  background: repeating-linear-gradient(
    45deg,
    #256a5d,
    #256a5d 10px,
    #2c7a6e 10px,
    #2c7a6e 20px
  );
  color: white;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

